<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" href="../static/style.css">
	
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

</head>
{% if led_state == "off" %}
<body style="background-color: black;">
{% else %}
<body style="background-color: rgb(73, 205, 50);"> 
{% endif %}

	<br>
	<h1>{{title}}</h1>
	
	<h3>Connected on  {{ msg }} -  {{ led_state }}</h3>
	
	<h3>

		{% if led_state == "off" %}
		<a href="/on" class="button" > ON</a>
		{% else %} 
		<a href="/off" class="button"> OFF</a>
		{% endif %}
	
	</h3>

</body>

</html>
